body {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    font-weight: normal;
    line-height: $baseline;
    font-family: $theme-font;
    color: $charcoal;
    
    &.with-baseline {
	    background-image: url('http://basehold.it/i/24/999999');
    }
    
    &.with-fixed {
	    .header {
		    position: fixed;
			top: 0;
			z-index: 100;
	    }
	    
	    .content {
			padding-top: 6em;
		}
    }
}

.wrap {
	width: 90%;
	max-width: 1140px;
	margin: 0 auto;
}

a {
	color: darken($highlight, 10%);
	
	&:hover {
		color: darken($highlight, 20%);
	}
}

.content {
	padding: 1.5em 0 1.5em;
	min-height: 1000px;
}

@font-face {
	font-family: 'fontello';
	src: url("../font/theme/fontello.eot?39071623");
	src: url("../font/theme/fontello.eot?39071623#iefix") format('embedded-opentype'), url("../font/theme/fontello.woff?39071623") format('woff'), url("../font/theme/fontello.ttf?39071623") format('truetype'), url("../font/theme/fontello.svg?39071623#fontello") format('svg');
	font-weight: normal;
	font-style: normal;
}

.project-name {
	font-style: italic;
	@include font-size(50);
	line-height: 1.45;
	letter-spacing: -3px;
	text-align: center;
	-webkit-mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.7)), to(rgba(0,0,0,1)));
}

.style-section {
	margin-top: 3em;
	
	.title {
		font-weight: bold;
		font-style: italic;
		@include font-size(32);
		margin-bottom: .75em;
		color: $charcoal;
		letter-spacing: -1px;
		
		&:before {
			font-style: normal;
			margin-right: .25em;
			font-weight: 100;
		}
	}
}

.name,
.source {
	@include font-size(16);
	color: $grey;
	font-weight: 400;
	text-align: right;
	
	a {
		font-weight: 700;
	}
}

.name {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	@include font-size(16);
}

.source {
	@include font-size(14);
	line-height: 1.7;
}

.footer {
	padding: .75em 0;
	text-align: center;
	@include linear-gradient-y(lighten($charcoal, 5%), darken($charcoal, 5%));
	color: $white;
	@include font-size(12);
	
	.maker a {
		font-weight: bold;
	}
	
	p {
		margin-bottom: 1em;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	@include respond-min(mobile-landscape){
		p {
			float: right;
			width: 47.5%;
			display: block;
			margin-bottom: 0;
			
			&.maker {
				float: left;
			}
		}
	}
	
	@include respond-min(small-tablet){
		p {
			@include font-size(14);
		}
	}
}