.header {
	@include linear-gradient-y(lighten($charcoal, 5%), darken($charcoal, 5%));
	padding: .75em 0;
	width: 100%;
	
	.wrap {
		position: relative;
	}
	
	.title {
		font-weight: bold;
		font-style: italic;
		@include font-size(32);
		color:  $white;
		letter-spacing: -1px;
		-webkit-mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.6)), to(rgba(0,0,0,1)));
		
		span {
			color: $highlight;
		}
	}
}

.author {
	position: absolute;
	top: -.4em;
	right: 0;
	color: $silver;
	@include font-size(11);
	text-transform: lowercase;
	letter-spacing: -1px;
	
	
	span {
		display: block;
		margin-bottom: -.4em;
	}
	
	img {
		max-width: 110px;
		@include opacity(.9);
	}
	
	a {
		display: block;
	}
}