$mqs-up-to: false !default;

@mixin respond-min($width) {

	@if $old-ie-print != true {
		@if $mqs-up-to {
			@if $mqs-up-to >= $width {
				@content;	
			}
		}
		@else {
			@media screen and (min-width: $width) {
				@content;
			}
		}
	}
	
}

@mixin respond-max($width) {

	@if $old-ie-print != true {
		@if $mqs-up-to {
			@if $mqs-up-to <= $width {
				@content;	
			}
		}
		@else {
			@media screen and (max-width: $width) {
				@content;
			}
		}
	}
	
}

$old-ie: false !default;
$old-ie-print: false !default;

@mixin old-ie {
	@if $old-ie {
		@content;
	}
}