// Typography
$baseline: 1.5;
$baseunit: 24px;
$theme-font: 'Noto Sans', sans-serif;

// Colours
$white: #fff;
$silver: #ccc;
$grey: #888;
$charcoal: #393939;
$highlight: #74B881;

// Structure
$tiles-per-row: 3;
$inc: 3;